[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-admirality
Exec=harbour-admirality
Name=Admirality
Name[en]=Admirality
Comment=Wilma / Inschool.fi wrapper
Comment[en]=Wilma / Inschool.fi wrapper

[X-Sailjail]
Permissions=Internet;Notifications;AdmiralityDBus;
OrganizationName=org.admirality
ApplicationName=harbour-admirality
